---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Hi I'm Alex.
			</p>
			<p>
				I spend my time researching, discovering and experimenting with my interests and turn my insights into companies that help create a better world.
			</p>
			<p>
				I live in Mexico City, Mexico. Currently building Dialecta & Give Protocol.
			</p>
			<p>Entrepreneurial Explorations</p>
			<ul>
				<li>Dialecta (ai / education / languages / community)</li>
				<li><a href="https://linktr.ee/GiveProtocol">Give Protocol</a> (web3 / non-profit / community)</li>
				<li><a href="https://ibd.coach/">IBDCoach</a> (health / community)</li>
				<li><a href="https://www.instagram.com/utkoficial">United Technologies for Kids</a> (non-profit / education / community)</li>
			</ul>
			<p>
				Consulting (part-time) - DM at <a href="https://twitter.com/TheAlexYao">@TheAlexYao</a>.
			</p>
			<ul>
				<li>Community Strategy (web3)</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
